.typingArea {
    margin: 5% auto 0;
    max-width: 900px;
    min-width: 320px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 15px;
}
.restart {
    cursor: pointer;
    border-radius: 50%;
}
.restart:hover {
    opacity: .8;
    box-shadow: 0 0 10px gray;
}
.content {
    min-height: 300px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.text {
    color: gray;
    font-size: 22px;
    width: 100%;
}
.outgoingValue {
    color: green;
}
.key {
    background-color: green;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.keyWrong {
    border: 2px solid red;
    background-color: crimson;
    color: #ffffff;
}

.result {
    font-size: 24px;
    width: 25%;
    text-align: center;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.resultName {
    font-size: 26px;
    border: 1px solid #000;
}